<div class="list-group mb-3">
  <a [routerLink]="[12]" routerLinkActive="active" class="list-group-item list-group-item-action">
    Cras justo odio
  </a>
  <a [routerLink]="[34]" routerLinkActive="active" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
  <a [routerLink]="[245]" routerLinkActive="active" class="list-group-item list-group-item-action">Morbi leo risus</a>
  <a [routerLink]="[2]" routerLinkActive="active" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
  <a [routerLink]="[734]" routerLinkActive="active" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
</div>

<a class="btn btn-primary btn-block" [routerLink]="['add']">Ajouter</a>
